.section-product {
  background: #fff;
  padding-top: 30px;
  //   display: block;

  .container {
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .container {
        width: calc(100% - 50px);
      }
    }

    .top-titile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      text-align: center;

      .title {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;

        .title-span {
          display: flex;
          color: black;
          align-items: center;
          font-size: 22px;
          text-transform: uppercase;
          font-weight: 700;
          box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
          //   box-shadow: brown;

          @media only screen and (max-width: 768px) {
            .title-span {
              display: flex;
              justify-content: center;
              align-items: center;
              color: black;
              font-weight: 700;
              font-size: 18px;
            }
          }
        }
      }
    }

    .product-content {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .product-content-layout {
        // border: 1px solid gray;
        height: auto;
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0 5px;

        .product-content-layout--img {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

          .img-hover {
            position: relative;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            .btn {
              left: 8%;
              bottom: 0;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all;
              transition-duration: 300ms;

              .btn-cart,
              .btn-detail {
                // display: none;
                background-color: transparent;
                padding: 3px 10px;
                border: 1px solid red;
                margin: 10px;
                border-radius: 10px;
                transition: all;
                transition-duration: 300ms;
                visibility: hidden;
              }

              .btn-cart:hover,
              .btn-detail:hover {
                background-color: red;
                border-color: #fff;
                visibility: visible;
              }
            }
          }
          .img-hover:hover {
            background-color: #333;
            opacity: 0.8;
            .btn-cart,
            .btn-detail {
              visibility: visible;
            }
          }
        }

        .product-content-layout-des {
          display: block;
          position: relative;

          .product-content-layout-des-h {
            padding: 10px;
            font-size: 20px;
            color: black;
            white-space: nowrap;
            overflow: hidden;
            text-transform: ellipsis;
          }
          .product-content-layout-des-p {
            display: flex;
            align-items: end;
            padding: 0 10px;
            font-size: 17px;
            color: red;
          }
        }
      }
    }
  }
}
